<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ControleDeAcesso</filter-name>
        <filter-class>filtro.ControleDeAcesso</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ControleDeAcesso</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>servlet.ListarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClientes</servlet-name>
        <servlet-class>servlet.AlterarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClientes</servlet-name>
        <servlet-class>servlet.ExcluirClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterarCliente</servlet-name>
        <servlet-class>servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaVendas</servlet-name>
        <servlet-class>servlet.ListaVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarRelatorio</servlet-name>
        <servlet-class>servlet.ListarRelatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClientes</servlet-name>
        <url-pattern>/AlterarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClientes</servlet-name>
        <url-pattern>/ExcluirClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterarCliente</servlet-name>
        <url-pattern>/alterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaVendas</servlet-name>
        <url-pattern>/ListaVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarRelatorio</servlet-name>
        <url-pattern>/ListarRelatorio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/paginaNaoEncontrada.jsp</location>
    </error-page>
</web-app>
